@model JukohXIII_Website.Models.MyProjects

<div class="card">
	<img src="@Model.ImagePath" alt="Project" style="width:100"/>
	<div class="container">
		<div class="card-date">@Model.Name</div>
		<div class="card-description">@Model.Description</div>
	</div>
</div>
