@model IEnumerable<JukohXIII_Website.Models.MyProjects>

@{
    ViewData["Title"] = "Home Page";
}
<div class="page-title">
   <PageTitle>JukohXIII</PageTitle>
</div>

<div class="presentation">
    <div class="avatar" >
        <img src="" href :>
    </div>
    <div class="bio">
        
    </div>
</div>

<div class="">

</div>

<div class="place-columns">
    @foreach(var project in Model)
    {
        @await Html.PartialAsync("_PlaceCard", project);
    }
</div>
