@model IEnumerable<JukohXIII_Website.Models.MyProjects>

<div class=nav>
    <h1 id="title">JukohXIII</h1>
    <ul class=menu>
        <li href="Index.cshtml">Home</li>
        <li>Projects</li>
        <li>Contact</li>
    </ul>
    
</div>

<div class="presentation">
    <div class="profile" >
        <img id="profilepic" href="https://github.com/JukohXIII" src="https://avatars.githubusercontent.com/u/154637989?v=4">
    </div>
    <div class="bio">
        <p>Hi ! My name is Jeremy and I'm aspiring to become a game developer.</p>
            <p>Here, you will find my ongoing and ended project.</p>
    </div>
</div>

<div>
    <h2>Projects</h2>
</div>

<div class="place-columns">
    @foreach(var project in Model)
    {
        @await Html.PartialAsync("_PlaceCard", project);
    }
</div>
